@model IEnumerable<ATMWeb.Models.Saque>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Saques Realizados</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaque)
            </td>
            <td>
                <a class="badge badge-success" asp-action="Edit" asp-route-id="@item.id">Edit</a> 
                <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
